/* 
    Aqui ficarão os keyframes responsáveis pela animação do site.
    Utilize esta seção para definir as animações CSS que serão aplicadas aos elementos,
    garantindo transições visuais suaves e interativas na interface.
*/

@-webkit-keyframes slide-in-right { 0% { -webkit-transform: translateX(1000px); transform: translateX(1000px); opacity: 0; } 100% { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; } }
@keyframes slide-in-right { 0% { -webkit-transform: translateX(1000px); transform: translateX(1000px); opacity: 0; } 100% { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; } }