body {
    background: #111;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: url('../midia/banner_tmp_5.png') no-repeat center center/cover;
    padding: 40px 20px;
    text-align: center;
}

header h1 {
    color: #ffffff;
    margin: 0;
    font-size: 2.5rem;
    letter-spacing: 2px;
}
.bcimas {
    background: rgb(0, 0, 0);
    padding: 5px 5px;
    border-radius: 8px;
    transform: translateY(2px) scale(0.97);
}
.bcimas:hover {
    background: #000000;
}

#bcimas1:hover {
    box-shadow: 5px 5px rgb(0, 148, 44);
    border: rgb(0, 255, 76) 5px solid;
    transform: translateY(2px) scale(0.97);
    transition: 
        box-shadow 0.35s cubic-bezier(.4,2,.6,1),
        transform 0.28s cubic-bezier(.4,2,.6,1);
    color: rgb(0, 255, 76);
}

#bcimas2:hover {
    box-shadow: 5px 5px rgb(148, 151, 0);
    border: rgb(220, 255, 0) 5px solid;
    transform: translateY(2px) scale(0.97);
    transition: 
        box-shadow 0.35s cubic-bezier(.4,2,.6,1),
        transform 0.28s cubic-bezier(.4,2,.6,1);
    color: rgb(220, 255, 0);
}

#bcimas3:hover {
    box-shadow: 5px 5px rgb(0, 120, 255);
    border: rgb(0, 140, 255) 5px solid;
    transform: translateY(2px) scale(0.97);
    transition: 
        box-shadow 0.35s cubic-bezier(.4,2,.6,1),
        transform 0.28s cubic-bezier(.4,2,.6,1);
    color: rgb(0, 153, 255);
}

nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 120px;
}
#boas-vindas {
    color: #ffffff;
    align-content: flex;
}

.logo {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-top: -20px;
    margin-bottom: -30px;
    border-radius: 50%;
    align-items: flex;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.2s;
}

nav a:hover {
    color: #e50914;
}

.caixa {
    font-style: atomic;
    font-size: 1.2rem;
    max-width: 900px flex;
    margin: 20px;
    background: #181818;
    border-radius: 8px;
    box-shadow: 0 2px 8px #000a;
    padding: 30px;
    animation: scale-in-hor-center 0.5s ease-in-out;
    border: #ff0000 1px solid;
}
a {
    color: #ffffff;
    text-decoration: none;

}

h2 {
    color: #e50914;
    margin-top: 0;
}

.btn {
    background: #e50914;
    color: #fff;
    border: rgba(0, 0, 0, 0.589) 5px solid;
    padding: 12px 28px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.btn:hover {
    background: #ff000083;
     transform: translateY(2px) scale(0.97);
    transition: 
        box-shadow 0.35s cubic-bezier(.4,2,.6,1),
        transform 0.28s cubic-bezier(.4,2,.6,1);
}

.foto {
    max-width: 100%; ;
    height: fit-content;
    border-radius: 1px;
    margin-top: px;
}

footer {
    background: #1a1a1a;
    color: #888;
    text-align: center;
    padding: 15px 0;
    border-top: 2px solid #e50914;
    margin-top: 40px;
}